* {
    box-sizing: border-box !important;
    transition: all .2s ease-in 0s !important;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

figcaption,
figure,
main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    border-style: solid;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    background: transparent;
    border: 1px solid transparent;
    outline: 0;
    cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,
menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

input,
textarea,
button,
select,
label,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}






body {
    font-family: "CircularStd";
    font-size: 18px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span {
    text-rendering: geometricPrecision;
    color: #222222;
    margin: 0;
}

a {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 2.9375rem;
    font-weight: bold;
    font-family: "PlayfairDisplay", sans-serif
}

h1 {
    font-size: 35px;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 35px;

    }
}

h2 {
    font-size: 30px;
}

@media screen and (max-width: 980px) {
    h2 {
        font-size: 30px;
    }
}

h3 {
    font-size: 25px;
}

@media screen and (max-width: 980px) {
    h3 {
        font-size: 25px;
    }
}

h4 {
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    h4 {
        font-size: 20px;
    }
}

h5 {
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    h5 {
        font-size: 15px;
    }
}

h6 {
    font-size: 10px;
}

@media screen and (max-width: 600px) {
    h6 {
        font-size: 10px;
    }
}

p,
li {
    font-size: 18px;;
    line-height: 35px;
    font-family: "CircularStd", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal
}

@media screen and (max-width: 600px) {
    p {
        font-size: 18px;
    }
}


/*----------------------------------------------------------------------------------------
                                    FONTS
-----------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/Circular_Std/CircularStd-Book.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/Circular_Std/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/Circular_Std/CircularStd-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Black.ttf') format('truetype');
    font-weight: 900;
}




/*Responsiveness*/
@media (max-width: 768px) {
	.container {
	    width: 100%;
	    padding-right: 30px;
	    padding-left: 30px;
	    margin-right: auto;
	    margin-left: auto;
	}
}

@media (max-width: 575.98px) {}

@media (min-width: 1300px) {
    
}

@media (min-width: 992px) {
}

.container {
	margin: 0 auto;
	max-width: 1360px;
	padding: 0px 30px;
}

.spaced-text {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 0.3em;
}

.btn-spaced {
	display: grid;
	grid-template-columns: max-content max-content;
	grid-gap: 10px;
	align-items: center;
}

.btn-spaced:hover {
	grid-gap: 20px;
}

.btn-spaced span {
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 0.3em;
	text-transform: uppercase;
}

.btn-spaced svg,
.btn-spaced img {
	width: 20px;
}

.btn-spaced svg path {
	fill: #222222;
}

body.dark,
body.dark a,
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark p,
body.dark li,
body.dark span,
body.dark path,
body.dark #social svg path {
	color: white !important;
	fill: white !important;
}

body.dark .menu .icon-bar {
	background: white !important;
}

body.container {
	display: grid;
	grid-row-gap: 50px;
	padding: 30px;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	/* min-width: 100vw; */
}

body.sidebar-opened {
    overflow: hidden;
}

@media (max-width: 1000px) {
	.logo-tagline {
		font-size: 11px !important;
		line-height: 11px !important;
		letter-spacing: 0.3em !important;
	}

	.logo-name {
		font-size: 18px !important;
		line-height: 18px !important;
	}

	#logo img {
		width: 45px !important;
		height: 45px !important;
	}

	.menu {
		display: block !important;
	}

	#navigation nav {
		display: none !important;
	}
	
	#navigation {
		grid-template-columns: 1fr auto !important;
	}

	#navigation .nav-space {
		display: none;
	}

	body.dark #logo a {
		grid-template-columns: repeat(1, auto) !important;
	}

/* 	#logo a {
		grid-template-columns: repeat(2, auto) !important;
	} */

	#footer #social {
		display: none;
	}

	#footer {
        grid-template-columns: repeat(1, 1fr) !important;
    }

/*     #bestsellers #books {
        grid-template-columns: repeat(1, 230px) !important;
    } */
}

@media (max-width: 800px) {
}

@media (max-width: 576px) {
	#bestsellers #books {
		grid-template-columns: repeat(auto-fit, minmax(250px, 100%)) !important;
	}

	#all-books #books {
		grid-template-columns: repeat(auto-fit, minmax(230px, 100%)) !important;
    }
}



/*----------------------------------------------------------------------------------------
                                    SIDEBAR
----------------------------------------------------------------------------------------*/
#sidebar {
	display: grid;
	grid-gap: 30px;
	grid-template-rows: max-content 50px max-content max-content 50px max-content;
	width: 100%;
	min-height: 100vh;
	background: white;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	padding: 30px 30px;
	transform: translate(-100%, 0);
	transition: all 0.5s cubic-bezier(1, 0, 0, 1) !important;
	overflow: auto;
}

body.sidebar-opened #sidebar {
	transform: none;
}

body.dark #sidebar {
	background: black;
}

#sidebar-space {
	width: 100%;
	height: 50px;
}


#sidebar nav ul {
	display: grid;
	grid-gap: 20px;
}

#sidebar ul a {
	font-weight: 700;
	font-size: 45px;
	line-height: 45px;
}

#sidebar #social ul {
	display: grid;
	grid-template-columns: repeat(4, max-content);
	grid-gap: 30px;
}

#sidebar #social svg {
	height: 25px;

}
#social svg path {
	fill: #444444;
}

/*----------------------------------------------------------------------------------------
                                    NAVIGATION BAR
----------------------------------------------------------------------------------------*/
#navigation {
    position: relative;
    width: 100%;
}

body.dark #navigation a,
body.dark #navigation p,
body.dark #navigation h3 {
	color: white;
}

body.dark .logo-icon {
	display: none;
}

body.dark #sidebar .logo-icon {
	/* display: block; */
}

body.dark #sidebar #logo a {
    grid-template-columns: repeat(2, max-content) !important;
}

#navigation {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 30px;
    -webkit-box-align: center;
    align-items: center;
}

#navigation nav ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 0px;
    -webkit-box-align: center;
    align-items: center;
}

#navigation nav a {
    padding: 15px 30px;
    transition: all 0.2s ease-in-out;
}

#navigation nav .active a,
#navigation nav a:hover {
	opacity: 0.6;
}

#logo {
	/* z-index: 3; */
}

#logo a {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 15px;
    align-items: center;
}
    template-columns path{
	fill: #444444;
    }
#logo .logo-text {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-gap: 8px;
}

#logo img {
	width: 50px;
	height: 50px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 100px;
}

.logo-name {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    white-space: nowrap;
}

.logo-tagline {
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	white-space: nowrap;
}
.menu {
	padding: 6.25px 12.5px;
	display: none;
	z-index: 3;
}

.menu .icon-bar {
    display: block;
    width: 35px;
    height: 2px;
    -webkit-transition: all 0.5s cubic-bezier(1, 0, 0, 1) !important;
    transition: all 0.5s cubic-bezier(1, 0, 0, 1) !important;
    background: #444;
    text-align: center;
    margin: 0 auto;
}

.menu .icon-bar + .icon-bar {
    margin-top: -2px;
    /* width: 30px; */
}

.menu.collapsed .icon-bar + .icon-bar {
    margin-top: 7px;
}

.menu .icon-bar:nth-child(2) {
	/* width: 25px; */
}

.menu .icon-bar:nth-child(3) {
	/* width: 20px; */
}

/*----------------------------------------------------------------------------------------
                                    FOOTER
----------------------------------------------------------------------------------------*/
#footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}

.copyright {
	color: #444444;
	justify-self: start;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	opacity: 0.6;
}

#footer #social {
	justify-self: end;
}

#footer #social a {
	padding: 15px;
	opacity: 0.6;
}

#footer #social a:hover {
	opacity: 1;
}


#footer #social svg,
#footer #social img {
	height: 20px;
}

#footer #social ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 0px;
    -webkit-box-align: center;
    align-items: center;
}






/*----------------------------------------------------------------------------------------
                                    HOME
----------------------------------------------------------------------------------------*/
#space {
	width: 100%;
	height: 100px;
	background: transparent;
}

body.dark{
	background-image: url(../images/madueke/Prayer-M.-Madueke-lg.png);
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom right;
}

@media (max-width: 575.98px) {
	body.dark {
		background-image: url('../images/madueke/Prayer-M.-Madueke-sm.jpg') !important;
		background-position: center top !important;
	}
}


#bestsellers {
	display: grid;
	grid-template-rows: auto auto;
	grid-gap: 30px;
	/* width: 58.33333%; */
}

#bestsellers #books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 230px));
    grid-gap: 30px;
    align-items: center;
}

#books .book {
    width: 100% !important;
    height: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20px 25px;
    cursor: pointer;
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 148%;
}

#books .book a {
	display: block;
	z-index: 1;
	margin-top: 10px;
}

#books .book .book-name {
	color: white;
	font-family: 'PlayfairDisplay';
	font-weight: 700;
	font-size: 17px;
	line-height: 23px;
	text-align: left;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	opacity: 0;
}

#books .book .book-description {
	color: white;
	font-weight: 40000;
	font-size: 14px;
	line-height: 21px;
	text-align: left;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	opacity: 0;
}

#books .book .btn-view{
	display: grid;
	margin-top: 30px;
}

#books .book .btn-view span {
	color: white;
	font-size: 12px;
	line-height: 12px;
}

#books .book .btn-view svg,
#books .book .btn-view img {
	width: 16px;
}

.book:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 102%;
	z-index: 0;
	top: 0;
	bottom: 0;
	left: 0;
	index: path	right: 0;
	fill: #444444;
	transition: all .2s ease-in 0s !important;
	background: linear-gradient(0deg, rgba(0, 0, 0, 1) -3.5%, rgba(0, 0, 0, 0.5) 18.32%, rgba(0, 0, 0, 0) 34.66%);
	/* opacity: 0; */
}

.book:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 100%;
	transition: all .2s ease-in 0s !important;
	background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0) 100%);
	opacity: 0;
}

#books .book:hover:before {
	padding-top: 0;
	opacity: 1;
}

#books .book:hover .book-name,
#books .book:hover .book-description {
	opacity: 1;
}

#books .book:hover .btn-view {
	grid-gap: 15px;
}

#books .book .btn-view svg path {
	fill: white;
}




/*----------------------------------------------------------------------------------------
                                    HOME
----------------------------------------------------------------------------------------*/
#all-books {
	display: grid;
	grid-gap: 15px;
	width: 100%;
}

#all-books .section-title {
	font-family: 'CircularStd';
	font-size: 50px;
    line-height: 50px;
}

#all-books #books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 400px));
    grid-gap: 50px;
    align-items: center;
}

#all-books #books .book .book-name {
	font-weight: bold;
	font-size: 30px;
	line-height: 40px;
	-webkit-line-clamp: 3;
}

#all-books #books .book .book-description {
	font-size: 17px;
    line-height: 26px;
	-webkit-line-clamp: 7;
}

#all-books #books .book .btn-view span {
	font-size: 14px;
	line-height: 14px;
}

#all-books #books .book .btn-view svg,
#all-books #books .book .btn-view img {
	width: 20px;
}
