@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/Circular_Std/CircularStd-Book.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/Circular_Std/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/Circular_Std/CircularStd-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Black.ttf") format("truetype");
  font-weight: 900;
}

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

* {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  -webkit-transition: all .2s ease-in 0s !important;
  transition: all .2s ease-in 0s !important;
}

html {
  font-family: "CircularStd", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.15;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html [type="button"] {
  -webkit-appearance: button;
  background: transparent;
  border: 1px solid transparent;
  outline: 0;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: "CircularStd", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

article {
  display: block;
}

aside {
  display: block;
}

footer {
  display: block;
}

header {
  display: block;
}

nav {
  display: block;
}

section {
  display: block;
}

figcaption {
  display: block;
}

figure {
  display: block;
  margin: 1em 40px;
}

main {
  display: block;
}

hr {
  border-style: solid;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: geometricPrecision;
  color: #222222;
  margin: 0;
  text-decoration: none;
}

a:active {
  outline-width: 0;
}

a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b {
  font-weight: inherit;
  font-weight: bolder;
}

strong {
  font-weight: inherit;
  font-weight: bolder;
}

code {
  font-family: monospace, monospace;
  font-size: 1em;
}

kbd {
  font-family: monospace, monospace;
  font-size: 1em;
}

samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

audio {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

video {
  display: inline-block;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button {
  font-family: "CircularStd", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  background: transparent;
  border: 1px solid transparent;
  outline: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

input {
  font-family: "CircularStd", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

optgroup {
  font-family: "CircularStd", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

select {
  font-family: "CircularStd", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea {
  font-family: "CircularStd", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[type="reset"] {
  -webkit-appearance: button;
  background: transparent;
  border: 1px solid transparent;
  outline: 0;
  cursor: pointer;
}

[type="reset"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="reset"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="submit"] {
  -webkit-appearance: button;
  background: transparent;
  border: 1px solid transparent;
  outline: 0;
  cursor: pointer;
}

[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button {
  height: auto;
}

[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
  text-rendering: geometricPrecision;
  font-variant-numeric: lining-nums;
  color: #222222;
  margin: 0;
  line-height: 47px;
  font-weight: bold;
  font-family: "PlayfairDisplay", sans-serif;
  font-size: 35px;
}

h2 {
  text-rendering: geometricPrecision;
  font-variant-numeric: lining-nums;
  color: #222222;
  margin: 0;
  line-height: 30px;
  font-weight: bold;
  font-family: "PlayfairDisplay", sans-serif;
  font-size: 30px;
}

h3 {
  text-rendering: geometricPrecision;
  font-variant-numeric: lining-nums;
  color: #222222;
  margin: 0;
  line-height: 25px;
  font-weight: bold;
  font-family: "PlayfairDisplay", sans-serif;
  font-size: 25px;
}

h4 {
  text-rendering: geometricPrecision;
  font-variant-numeric: lining-nums;
  color: #222222;
  margin: 0;
  line-height: 20px;
  font-weight: bold;
  font-family: "PlayfairDisplay", sans-serif;
  font-size: 20px;
}

h5 {
  text-rendering: geometricPrecision;
  font-variant-numeric: lining-nums;
  color: #222222;
  margin: 0;
  line-height: 15px;
  font-weight: bold;
  font-family: "PlayfairDisplay", sans-serif;
  font-size: 15px;
}

h6 {
  text-rendering: geometricPrecision;
  font-variant-numeric: lining-nums;
  color: #222222;
  margin: 0;
  line-height: 10px;
  font-weight: bold;
  font-family: "PlayfairDisplay", sans-serif;
  font-size: 10px;
}

p {
  text-rendering: geometricPrecision;
  color: #222222;
  margin: 0;
  font-size: 18px;
  line-height: 35px;
  font-family: "CircularStd", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
}

li {
  text-rendering: geometricPrecision;
  color: #222222;
  margin: 0;
  font-size: 18px;
  line-height: 35px;
  font-family: "CircularStd", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
}

span {
  text-rendering: geometricPrecision;
  color: #222222;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1360px;
  padding: 0px 30px;
}

.spaced-text {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.3em;
}

.btn-spaced {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  grid-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.btn-spaced:hover {
  grid-gap: 20px;
}

.btn-spaced span {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.btn-spaced svg {
  width: 18px;
}

.btn-spaced svg path {
  fill: #222222;
}

.btn-spaced img {
  width: 18px;
}

@media (max-width: 1000px) {
  .btn-spaced {
    grid-gap: 10px;
  }
  .btn-spaced:hover {
    grid-gap: 15px;
  }
  .btn-spaced span {
    font-size: 12px;
    line-height: 12px;
  }
  .btn-spaced svg,
  .btn-spaced img {
    width: 14px;
  }
}

input {
  padding: 20px 30px;
  border: 1px solid rgba(68, 68, 68, 0.2);
  color: #444444;
  font-size: 16px;
  line-height: 16px;
  outline: 0;
}

input::-webkit-input-placeholder {
  color: #444444;
  opacity: 0.5;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
}

input:-ms-input-placeholder {
  color: #444444;
  opacity: 0.5;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
}

input::-ms-input-placeholder {
  color: #444444;
  opacity: 0.5;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
}

input::placeholder {
  color: #444444;
  opacity: 0.5;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
}

input:hover {
  background-color: rgba(68, 68, 68, 0.05);
  border: 1px solid rgba(68, 68, 68, 0.3);
}

input:focus {
  background-color: rgba(68, 68, 68, 0.05);
  border: 1px solid rgba(68, 68, 68, 0.3);
}

input[type="submit"] {
  background-color: #222222;
  color: white;
  padding: 20px 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  outline: 0;
}

input[type="submit"]:hover {
  background-color: #111111;
  border: 1px solid #111111;
}

input[type="submit"]:focus {
  background-color: #111111;
  border: 1px solid #111111;
}

body.dark {
  color: white !important;
  fill: white !important;
  background-image: url(../images/madueke/Prayer-M.-Madueke-lg.png);
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
}

body.dark a {
  color: white !important;
  fill: white !important;
}

body.dark h1 {
  color: white !important;
  fill: white !important;
}

body.dark h2 {
  color: white !important;
  fill: white !important;
}

body.dark h3 {
  color: white !important;
  fill: white !important;
}

body.dark h4 {
  color: white !important;
  fill: white !important;
}

body.dark h5 {
  color: white !important;
  fill: white !important;
}

body.dark h6 {
  color: white !important;
  fill: white !important;
}

body.dark p {
  color: white !important;
  fill: white !important;
}

body.dark li {
  color: white !important;
  fill: white !important;
}

body.dark span {
  color: white !important;
  fill: white !important;
}

body.dark path {
  color: white !important;
  fill: white !important;
}

body.dark #social svg path {
  color: white !important;
  fill: white !important;
}

body.dark .menu .icon-bar {
  background: white !important;
}

body.dark #sidebar {
  background: black;
}

body.dark #sidebar #logo a {
  -ms-grid-columns: max-content max-content !important;
      grid-template-columns: -webkit-max-content -webkit-max-content !important;
      grid-template-columns: max-content max-content !important;
}

body.dark #navigation a {
  color: white;
}

body.dark #navigation p {
  color: white;
}

body.dark #navigation h3 {
  color: white;
}

body.dark #navigation.fixed-nav {
  background: transparent !important;
}

@media (max-width: 800px) {
  body.dark #navigation.fixed-nav {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.9))) !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.9) 100%) !important;
  }
}

body.dark .logo-icon {
  display: none;
}

body.container {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 50px;
  padding: 30px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

body.container.contact {
  -ms-grid-rows: max-content 1fr max-content 1fr max-content;
      grid-template-rows: -webkit-max-content 1fr -webkit-max-content 1fr -webkit-max-content;
      grid-template-rows: max-content 1fr max-content 1fr max-content;
}

#sidebar {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-rows: max-content 50px max-content max-content 1fr max-content;
      grid-template-rows: -webkit-max-content 50px -webkit-max-content -webkit-max-content 1fr -webkit-max-content;
      grid-template-rows: max-content 50px max-content max-content 1fr max-content;
  width: 100%;
  min-height: 100vh;
  background: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 30px 30px;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.5s cubic-bezier(1, 0, 0, 1) !important;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1) !important;
  overflow: auto;
}

#sidebar nav ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 25px;
}

#sidebar ul a {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  display: block;
}

#sidebar ul li {
  position: relative;
}

#sidebar ul li a:hover {
  opacity: 0.5;
}

#sidebar ul li.active a:before {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: white;
  right: 0;
  top: 50%;
}

#sidebar #social ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content max-content max-content;
  grid-gap: 30px;
}

#sidebar #social svg {
  height: 25px;
}

#sidebar #social svg path {
  fill: #222222;
}

#sidebar #logo .logo-icon {
  display: block;
}

#sidebar .menu {
  display: block;
}

body.sidebar-opened #sidebar {
  -webkit-transform: none;
          transform: none;
}

body.sidebar-opened #sidebar nav li {
  -webkit-animation: slideIn .5s ease forwards;
          animation: slideIn .5s ease forwards;
  opacity: 0;
}

body.sidebar-opened #sidebar nav li:nth-child(1) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

body.sidebar-opened #sidebar nav li:nth-child(2) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

body.sidebar-opened #sidebar nav li:nth-child(3) {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

body.sidebar-opened #sidebar nav li:nth-child(4) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

body.sidebar-opened #social li {
  -webkit-animation: slideIn .5s ease forwards;
          animation: slideIn .5s ease forwards;
  opacity: 0;
}

body.sidebar-opened #social li:nth-child(1) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

body.sidebar-opened #social li:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

body.sidebar-opened #social li:nth-child(3) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

body.sidebar-opened #social li:nth-child(4) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

body.sidebar-opened .copyright {
  -webkit-animation: slideIn .5s ease forwards;
          animation: slideIn .5s ease forwards;
  opacity: 0;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

#sidebar-space {
  width: 100%;
  height: 50px;
}

#social svg path {
  fill: #444444;
}

#navigation {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

#navigation.fixed-nav {
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  display: none;
  opacity: 0;
  -webkit-transform: all 0.5s cubic-bezier(1, 0, 0, 1) !important;
          transform: all 0.5s cubic-bezier(1, 0, 0, 1) !important;
}

@media (max-width: 800px) {
  #navigation.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    background: white;
    z-index: 1;
  }
}

#navigation.fixed-nav.show {
  -webkit-transform: none;
          transform: none;
  display: -ms-grid;
  display: grid;
  opacity: 1;
}

#navigation nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-gap: 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

#navigation nav a {
  padding: 15px 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#navigation nav a:hover {
  opacity: 0.6;
}

#navigation nav .active a {
  opacity: 0.6;
}

#logo a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  grid-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo .logo-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 8px;
  padding: 6px 0;
}

#logo .logo-icon {
  width: 50px;
  height: 50px;
}

#logo img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
}

.logo-name {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: -0.5px;
}

.logo-tagline {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  white-space: nowrap;
}

.menu {
  padding: 6.25px 12.5px;
  display: none;
  z-index: 2;
}

.menu .icon-bar {
  display: block;
  width: 35px;
  height: 1px;
  -webkit-transition: all 0.5s cubic-bezier(1, 0, 0, 1) !important;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1) !important;
  background: #444;
  text-align: center;
  margin: 0 auto;
}

.menu .icon-bar + .icon-bar {
  -webkit-transform: none;
          transform: none;
  margin-top: 7px;
}

.menu.collapsed .icon-bar + .icon-bar {
  -webkit-transform: none;
          transform: none;
  margin-top: 0px;
}

.menu.collapsed .icon-bar:nth-child(1) {
  opacity: 0;
  -webkit-transform: translate3d(0, 0px, 0);
          transform: translate3d(0, 0px, 0);
}

.menu.collapsed .icon-bar:nth-child(2) {
  -webkit-transform: translate3d(0, -2px, 0) rotate(-45deg);
          transform: translate3d(0, -2px, 0) rotate(-45deg);
}

.menu.collapsed .icon-bar:nth-child(3) {
  -webkit-transform: translate3d(0, -3px, 0) rotate(-135deg);
          transform: translate3d(0, -3px, 0) rotate(-135deg);
}

#footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer #social {
  -ms-grid-column-align: end;
      justify-self: end;
}

#footer #social a {
  padding: 15px;
  opacity: 0.6;
}

#footer #social a:hover {
  opacity: 1;
}

#footer #social svg {
  height: 20px;
}

#footer #social img {
  height: 20px;
}

#footer #social ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-gap: 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.copyright {
  color: #444444;
  -ms-grid-column-align: start;
      justify-self: start;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.6;
}

#space {
  width: 100%;
  height: 100px;
  background: transparent;
}

@media (max-width: 1000px) {
  #space {
    height: 0;
  }
}

#bestsellers {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 30px;
  max-width: 58.333333%;
}

@media (max-width: 1000px) {
  #bestsellers {
    max-width: none;
    grid-gap: 50px;
  }
}

#bestsellers .title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  #bestsellers .title {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-auto-flow: row;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
  }
}

#bestsellers .title h1 {
  -ms-grid-column-align: start;
      justify-self: start;
  font-size: 35px;
  line-height: 45px;
}

#bestsellers .title .btn-spaced {
  -ms-grid-column-align: end;
      justify-self: end;
}

@media (max-width: 1000px) {
  #bestsellers .title .btn-spaced {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

#bestsellers #books {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(230px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book {
  width: 100% !important;
  height: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px 25px;
  cursor: default;
  -webkit-box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 148%;
}

.book:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 102%;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  fill: #444444;
  -webkit-transition: all .2s ease-in 0s !important;
  transition: all .2s ease-in 0s !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-3.5%, black), color-stop(18.32%, rgba(0, 0, 0, 0.5)), color-stop(34.66%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, black -3.5%, rgba(0, 0, 0, 0.5) 18.32%, rgba(0, 0, 0, 0) 34.66%);
}

.book:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 100%;
  -webkit-transition: all .2s ease-in 0s !important;
  transition: all .2s ease-in 0s !important;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(50%, rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
}

.book a {
  display: block;
  z-index: 1;
  margin-top: 10px;
}

.book .book-name {
  color: white;
  font-family: 'PlayfairDisplay';
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  opacity: 0;
}

.book .book-description {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  opacity: 0;
}

.book .btn-view {
  display: -ms-grid;
  display: grid;
  margin-top: 30px;
  padding-bottom: 0;
  grid-gap: 10px;
}

.book .btn-view:hover {
  grid-gap: 15px;
}

.book .btn-view span {
  color: white;
  font-size: 12px;
  line-height: 12px;
}

.book .btn-view svg {
  width: 16px;
}

.book .btn-view svg path {
  fill: white;
}

.book .btn-view img {
  width: 16px;
}

.book:hover:before {
  padding-top: 0;
  opacity: 1;
}

.book:hover .book-name {
  opacity: 1;
}

.book:hover .book-description {
  opacity: 0.9;
}

.book:hover .btn-view {
  grid-gap: 15px;
}

#all-books {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  width: 100%;
}

@media (max-width: 1000px) {
  #all-books {
    grid-gap: 50px;
  }
}

#all-books .section-title {
  font-size: 45px;
  line-height: 45px;
}

#all-books #books {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(230px, 400px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(230px, 400px));
  grid-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#all-books #books .book .book-name {
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
  -webkit-line-clamp: 3;
}

#all-books #books .book .book-description {
  font-size: 16px;
  line-height: 24px;
  -webkit-line-clamp: 7;
}

#all-books #books .book .btn-view span {
  font-size: 14px;
  line-height: 14px;
}

#all-books #books .book .btn-view svg {
  width: 20px;
}

#all-books #books .book .btn-view img {
  width: 20px;
}

#book-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1fr;
      grid-template-columns: 400px 1fr;
  grid-gap: 100px;
}

@media (max-width: 800px) {
  #book-details {
    -ms-grid-columns: none;
        grid-template-columns: none;
    grid-auto-flow: row;
    grid-gap: 50px;
    width: 100%;
  }
}

#book-details .book-image {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 20px 36px -20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 20px 36px -20px rgba(0, 0, 0, 0.3);
}

#book-details .details {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
}

#book-details .details .description {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  padding-bottom: 30px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

#book-details .details .channels {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: row;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  padding-bottom: 30px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

#book-details .details .channels .formats {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: 500px;
}

#book-details .details .channels .formats .format {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: row;
  border: 1px solid rgba(68, 68, 68, 0.1);
  padding: 15px;
}

#book-details .details .channels .formats .format:hover {
  background-color: rgba(68, 68, 68, 0.05);
  -webkit-box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.05);
}

#book-details .details .channels .formats .format .name {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#book-details .details .channels .formats .format .name img {
  height: 25px;
}

#book-details .details .channels .formats .format .name span {
  font-weight: 500;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#book-details .details .channels .formats .format .price {
  font-family: 'CircularStd';
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

#book-details .details .attributes {
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  padding-bottom: 30px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
  #book-details .details .attributes {
    -ms-grid-columns: none;
        grid-template-columns: none;
    grid-auto-flow: row;
    grid-gap: 30px;
  }
}

#book-details .details .attributes .pages {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#book-details .details .attributes .pages img {
  height: 35px;
}

#book-details .details .attributes .pages p {
  font-weight: 500;
}

#book-details .details .attributes .pages p span {
  font-weight: 400;
}

#book-details .details .attributes .dimensions {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#book-details .details .attributes .dimensions img {
  height: 35px;
}

#book-details .details .attributes .dimensions p {
  font-weight: 500;
}

#book-details .details .attributes .dimensions p span {
  font-weight: 400;
}

#other-books {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: max-content 1fr max-content;
      grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
      grid-template-columns: max-content 1fr max-content;
}

#other-books .prev-book {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 15px;
  justify-items: start;
  padding: 30px;
  border: 1px solid rgba(68, 68, 68, 0.1);
}

#other-books .prev-book:hover {
  background-color: rgba(68, 68, 68, 0.05);
  -webkit-box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.05);
}

#other-books .prev-book:hover img {
  -webkit-box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.2);
}

#other-books .prev-book:hover .btn-spaced {
  grid-gap: 20px;
}

@media (max-width: 800px) {
  #other-books .prev-book {
    padding: 15px;
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

@media (max-width: 800px) {
  #other-books .prev-book .btn-spaced {
    padding: 0;
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

@media (max-width: 800px) {
  #other-books .prev-book .btn-spaced span {
    display: none;
  }
}

#other-books .prev-book .prev-book-details {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
}

@media (max-width: 800px) {
  #other-books .prev-book .prev-book-details {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

#other-books .prev-book .prev-book-details h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 30px;
  max-width: 300px;
  white-space: nowrap;
}

@media (max-width: 800px) {
  #other-books .prev-book .prev-book-details h3 {
    display: none;
  }
}

#other-books .prev-book .prev-book-details img {
  width: 100px;
  border: 1px solid rgba(68, 68, 68, 0.2);
}

#other-books .next-book {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 15px;
  justify-items: end;
  padding: 30px;
  border: 1px solid rgba(68, 68, 68, 0.1);
}

#other-books .next-book:hover {
  background-color: rgba(68, 68, 68, 0.05);
}

#other-books .next-book:hover img {
  -webkit-box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.2);
}

#other-books .next-book:hover .btn-spaced {
  grid-gap: 20px;
}

@media (max-width: 800px) {
  #other-books .next-book {
    padding: 15px;
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

@media (max-width: 800px) {
  #other-books .next-book .btn-spaced {
    padding: 0;
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

@media (max-width: 800px) {
  #other-books .next-book .btn-spaced span {
    display: none;
  }
}

#other-books .next-book .next-book-details {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
}

@media (max-width: 800px) {
  #other-books .next-book .next-book-details {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

#other-books .next-book .next-book-details h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 300px;
  line-height: 30px;
  white-space: nowrap;
}

@media (max-width: 800px) {
  #other-books .next-book .next-book-details h3 {
    display: none;
  }
}

#other-books .next-book .next-book-details img {
  width: 100px;
  border: 1px solid rgba(68, 68, 68, 0.2);
}

#contacts {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 50px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
  #contacts {
    grid-gap: 30px;
    -ms-grid-columns: none;
        grid-template-columns: none;
    grid-auto-flow: row;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

#contacts a {
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

#contacts a:hover {
  background: rgba(0, 0, 0, 0.8);
}

#now-playing {
  width: 100%;
  min-height: 150px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border: 1px solid rgba(68, 68, 68, 0.1);
  padding: 30px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  -ms-grid-columns: max-content 1fr max-content;
      grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
      grid-template-columns: max-content 1fr max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#now-playing .details {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#now-playing .details .image {
  width: 130px;
  position: relative;
}

#now-playing .details .image img {
  width: 100%;
  border-radius: 5px;
}

#now-playing .details .image .shadow {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#now-playing .details .name p {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

#now-playing .details .name h3 {
  max-width: 200px;
  font-size: 25px;
  line-height: 33px;
}

#devotional-title {
  max-width: 600px;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 30px;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  padding: 100px 0px;
}

#devotional-title .text {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
}

#devotional-title .text p {
  line-height: 30px;
}

#devotional-title form {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 15px;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
}

@media (max-width: 768px) {
  #devotional-title {
    max-width: none;
  }
  #devotional-title form {
    grid-auto-flow: row;
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

#all-devotionals {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  width: 100%;
}

#all-devotionals .devotionals {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-column-gap: 50px;
  grid-row-gap: 100px;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

@media (max-width: 576px) {
  #all-devotionals .devotionals {
    -ms-grid-columns: (minmax(250px, 100%))[auto-fit] !important;
        grid-template-columns: repeat(auto-fit, minmax(250px, 100%)) !important;
  }
}

.devotional {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 30px;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
}

.devotional:hover .image {
  opacity: 0.7;
}

.devotional .image {
  width: 100%;
  height: auto;
  position: relative;
}

.devotional .image img {
  width: 100%;
  border-radius: 10px;
}

.devotional .image .shadow {
  -webkit-filter: blur(10px) opacity(0.5);
          filter: blur(10px) opacity(0.5);
  position: absolute;
  top: 10%;
  left: 5%;
  right: 0;
  width: 90%;
  height: 90%;
  z-index: -1;
}

.devotional .details {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
}

.devotional .details h3 {
  font-size: 25px;
  line-height: 33px;
  text-transform: capitalize;
}

.devotional .details p {
  font-size: 16px;
  line-height: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  position: relative;
}

.devotional .details p:before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0;
  left: 0%;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(67.5%, rgba(255, 255, 255, 0)), to(#FFFFFF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 67.5%, #FFFFFF 100%);
}

@media (max-width: 1000px) {
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  .logo-tagline {
    font-size: 12px !important;
    line-height: 12px !important;
    letter-spacing: 0.2em !important;
  }
  .logo-name {
    font-size: 22px !important;
    line-height: 22px !important;
  }
  #logo .logo-icon {
    width: 40px !important;
    height: 40px !important;
  }
  .menu {
    display: block !important;
  }
  #navigation {
    -ms-grid-columns: 1fr auto !important;
        grid-template-columns: 1fr auto !important;
  }
  #navigation nav {
    display: none !important;
  }
  #navigation .nav-space {
    display: none;
  }
  body.dark #logo a {
    -ms-grid-columns: auto !important;
        grid-template-columns: auto !important;
  }
  #footer {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  #footer #social {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 576px) {
  #bestsellers #books {
    -ms-grid-columns: (minmax(250px, 100%))[auto-fit] !important;
        grid-template-columns: repeat(auto-fit, minmax(250px, 100%)) !important;
  }
  #all-books #books {
    -ms-grid-columns: (minmax(100%, 100%))[auto-fit] !important;
        grid-template-columns: repeat(auto-fit, minmax(100%, 100%)) !important;
    grid-gap: 15px !important;
  }
  body.dark {
    background-image: url("../images/madueke/Prayer-M.-Madueke-sm.jpg") !important;
    background-position: center top !important;
  }
  h1 {
    font-size: 35px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 15px;
  }
  h6 {
    font-size: 10px;
  }
  p {
    font-size: 18px;
  }
}
/*# sourceMappingURL=styles.css.map */