@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/Gilroy-ExtraBold.ttf') format('truetype');
	font-weight: 900;
}

@font-face {
	font-family: 'CircularStd';
	src: url('../fonts/Circular_Std/CircularStd-Book.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'CircularStd';
	src: url('../fonts/Circular_Std/CircularStd-Medium.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'CircularStd';
	src: url('../fonts/Circular_Std/CircularStd-Bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'PalatinoLinotype';
	src: url('../fonts/Palatino_Linotype/pala.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'PlayfairDisplay';
	src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'PlayfairDisplay';
	src: url('../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'PlayfairDisplay';
	src: url('../fonts/Playfair_Display/PlayfairDisplay-Black.ttf') format('truetype');
	font-weight: 900;
}

@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translate3d(0, 20px, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes reveal {
	0% {
		transform: translate3d(0, 50px, 0)
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0)
	}
}

.reveal {
	animation: reveal ease 1s forwards;
}

@keyframes fade {
	0% {
		transform: scale(0.85, 0.85);
		opacity: 0
	}

	100% {
		transform: scale(1, 1);
		opacity: 1
	}
}

.fade {
	animation: fade cubic-bezier(0.075, 0.82, 0.165, 1) 2s forwards
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

.fade-in {
	animation: fadeIn ease 0.4s
}

.animated {
	opacity: 0
}

* {
	box-sizing: border-box !important;
	transition: all .2s ease-in 0s !important;
}

html {
	font-family: "CircularStd", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: 1.15;
	font-size: 62.5%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	[type="button"] {
		-webkit-appearance: button;
		background: transparent;
		border: 1px solid transparent;
		outline: 0;
		cursor: pointer;
	}
}

body {
	margin: 0;
	font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 18px;
	text-rendering: geometricPrecision;
	margin: 0;
	line-height: 35px;
	font-weight: 500;
	letter-spacing: 0.3px;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

article {
	display: block;
}

aside {
	display: block;
}

footer {
	display: block;
}

header {
	display: block;
}

nav {
	display: block;
}

section {
	display: block;
}

figcaption {
	display: block;
}

figure {
	display: block;
	margin: 1em 40px;
}

main {
	display: block;
}

hr {
	border-style: solid;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-rendering: geometricPrecision;

	color: #222222;
	margin: 0;
	text-decoration: none;

	&:active {
		outline-width: 0;
	}

	&:hover {
		outline-width: 0;
	}
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b {
	font-weight: inherit;
	font-weight: bolder;
}

strong {
	font-weight: inherit;
	font-weight: bolder;
}

code {
	font-family: monospace, monospace;
	font-size: 1em;
}

kbd {
	font-family: monospace, monospace;
	font-size: 1em;
}

samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	bottom: -0.25em;
}

sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}

audio {
	display: inline-block;

	&:not([controls]) {
		display: none;
		height: 0;
	}
}

video {
	display: inline-block;
}

img {
	border-style: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	pointer-events: none;
}

svg {
	&:not(:root) {
		overflow: hidden;
	}
}

button {
	font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	overflow: visible;
	text-transform: none;
	-webkit-appearance: button;
	background: transparent;
	border: 1px solid transparent;
	outline: 0;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}

	&:-moz-focusring {
		outline: 1px dotted ButtonText;
	}
}

input {
	font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	overflow: visible;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

optgroup {
	font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

select {
	font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	text-transform: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea {
	font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	overflow: auto;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[type="reset"] {
	-webkit-appearance: button;
	background: transparent;
	border: 1px solid transparent;
	outline: 0;
	cursor: pointer;

	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}

	&:-moz-focusring {
		outline: 1px dotted ButtonText;
	}
}

[type="submit"] {
	-webkit-appearance: button;
	background: transparent;
	border: 1px solid transparent;
	outline: 0;
	cursor: pointer;

	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}

	&:-moz-focusring {
		outline: 1px dotted ButtonText;
	}
}

[type="button"] {
	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}

	&:-moz-focusring {
		outline: 1px dotted ButtonText;
	}
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}

[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"] {
	&::-webkit-inner-spin-button {
		height: auto;
	}

	&::-webkit-outer-spin-button {
		height: auto;
	}
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;

	&::-webkit-search-cancel-button {
		-webkit-appearance: none;
	}

	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

label {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
	text-rendering: geometricPrecision;
	font-variant-numeric: lining-nums;
	color: #222222;
	margin: 0;
	line-height: 47px;
	font-weight: bold;
	font-family: "PlayfairDisplay", sans-serif;
	font-size: 35px;
}

h2 {
	text-rendering: geometricPrecision;
	font-variant-numeric: lining-nums;
	color: #222222;
	margin: 0;
	line-height: 30px;
	font-weight: bold;
	font-family: "PlayfairDisplay", sans-serif;
	font-size: 30px;
}

h3 {
	text-rendering: geometricPrecision;
	font-variant-numeric: lining-nums;
	color: #222222;
	margin: 0;
	line-height: 25px;
	font-weight: bold;
	font-family: "PlayfairDisplay", sans-serif;
	font-size: 25px;
}

h4 {
	text-rendering: geometricPrecision;
	font-variant-numeric: lining-nums;
	color: #222222;
	margin: 0;
	line-height: 20px;
	font-weight: bold;
	font-family: "PlayfairDisplay", sans-serif;
	font-size: 20px;
}

h5 {
	text-rendering: geometricPrecision;
	font-variant-numeric: lining-nums;
	color: #222222;
	margin: 0;
	line-height: 15px;
	font-weight: bold;
	font-family: "PlayfairDisplay", sans-serif;
	font-size: 15px;
}

h6 {
	text-rendering: geometricPrecision;
	font-variant-numeric: lining-nums;
	color: #222222;
	margin: 0;
	line-height: 10px;
	font-weight: bold;
	font-family: "PlayfairDisplay", sans-serif;
	font-size: 10px;
}

p {
	text-rendering: geometricPrecision;
	color: #222222;
	margin: 0;
	font-size: 18px;
	line-height: 35px;
	font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: 500;
}

li {
	text-rendering: geometricPrecision;
	color: #222222;
	margin: 0;
	font-size: 18px;
	line-height: 35px;
	font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: 600;
}

span {
	text-rendering: geometricPrecision;

	color: #222222;
	margin: 0;
}

.container {
	margin: 0 auto;
	max-width: 1360px;
	padding: 0px 30px;
}

.spaced-text {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 0.3em;
}

.btn-spaced {
	display: grid;
	grid-template-columns: max-content max-content;
	grid-gap: 15px;
	align-items: center;
	padding: 15px 0;

	&:hover {
		grid-gap: 20px;
	}
	
	span {
		font-weight: 700;
		font-size: 14px;
		line-height: 14px;
		letter-spacing: 0.3em;
		text-transform: uppercase;
	}
	
	svg {
		width: 18px;
		
		path {
			fill: #222222;
		}
	}
	
	img {
		width: 18px;
	}
	
	@media (max-width: 1000px) {
		grid-gap: 10px;
		
		&:hover {
			grid-gap: 15px;
		}

		span {
			font-size: 12px;
			line-height: 12px;
		}

		svg,
		img {
			width: 14px;
		}
	}
}

.btn-spaced.chevron {
	grid-gap: 10px;
	align-items: start;

	svg {
		height: 10px;
	}

	&:hover {
		grid-gap: 13px !important;
	}

	@media (max-width: 1000px) {
		svg {
			height: 10px;
		}

		&:hover {
			grid-gap: 13px !important;
		}
	}
}

input {
	padding: 15px 20px;
	border: 1px solid rgba(68, 68, 68, 0.2);
	color: #444444;
	font-size: 16px;
	line-height: 16px;
	outline: 0;
	padding-top: 40px;

	&::placeholder {
		color: #444444;
		opacity: 0.5;
		font-weight: 500;
		letter-spacing: 0;
		text-transform: none;
		font-size: 16px;
		line-height: 16px;
	}

	&:hover {
		background-color: rgba(68, 68, 68, 0.05);
		border: 1px solid rgba(68, 68, 68, 0.3);
	}

	&:focus {
		background-color: rgba(68, 68, 68, 0.05);
		border: 1px solid rgba(68, 68, 68, 0.3);
		
		&~label {
			padding: 0 .3em;
			font-size: 12px;
			position: absolute;
			left: 20px;
			top: 0px;
			opacity: 0.7;
		}
	}
}

input[type="submit"],
a.button,
button.button {
	background-color: #222222;
	color: white;
	padding: 20px 40px;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	outline: 0;
	border: 1px solid #222222;

	&:hover {
		background-color: #111111;
		border: 1px solid #111111;
	}

	&:focus {
		background-color: #111111;
		border: 1px solid #111111;
	}

	&.w-icon {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: auto 1fr;
		grid-gap: 30px;
		width: max-content;
		align-items: center;
		border: 1px solid #222222;

		svg,
		img {
			height: 25px;
		}

		span {
			color: white;
		}
	}
}

body.modal-opened {
	overflow: hidden;
}

body.dark {
	color: white !important;
	fill: white !important;
	background-image: url(../images/madueke/Prayer-M.-Madueke-lg.png);
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom right;

	a {
		color: white !important;
		fill: white !important;
	}

	h1 {
		color: white !important;
		fill: white !important;
	}

	h2 {
		color: white !important;
		fill: white !important;
	}

	h3 {
		color: white !important;
		fill: white !important;
	}

	h4 {
		color: white !important;
		fill: white !important;
	}

	h5 {
		color: white !important;
		fill: white !important;
	}

	h6 {
		color: white !important;
		fill: white !important;
	}

	p {
		color: white !important;
		fill: white !important;
	}

	li {
		color: white !important;
		fill: white !important;
	}

	span {
		color: white !important;
		fill: white !important;
	}

	path {
		color: white !important;
		fill: white !important;
	}

	#social {
		svg {
			path {
				color: white !important;
				fill: white !important;
			}
		}
	}

	.menu {
		.icon-bar {
			background: white !important;
		}
	}

	#sidebar {
		background: black;

		#logo {
			a {
				grid-template-columns: max-content max-content !important;
			}
		}
	}

	#navigation {
		a {
			color: white;
		}

		p {
			color: white;
		}

		h3 {
			color: white;
		}

		&.fixed-nav {
			background: transparent !important;
			
			@media (max-width: 800px) {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.9) 100%) !important;
			}
		}
	}

	.logo-icon {
		display: none;
	}
}

body.container {
	display: grid;
	grid-row-gap: 50px;
	padding: 30px;
	width: 100%;
	height: 100%;
	min-height: 100vh;

	&.contact {
		grid-template-rows: max-content 1fr max-content 1fr max-content;
	}
}

#sidebar {
	display: grid;
	grid-gap: 30px;
	grid-template-rows: max-content 50px max-content max-content 1fr max-content;
	width: 100%;
	min-height: 100vh;
	background: white;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	padding: 30px 30px;
	transform: translate(-100%, 0);
	transition: all 0.5s cubic-bezier(1, 0, 0, 1) !important;
	overflow: auto;

	nav {
		ul {
			display: grid;
			grid-gap: 25px;
		}
	}

	ul {
		a {
			font-weight: 700;
			font-size: 45px;
			line-height: 45px;
			display: block;
		}

		li {
			a {
				&:hover {
					opacity: 0.5;
				}
			}

			position: relative;
		}

		li.active {
			a {
				&:before {
					position: absolute;
					width: 10px;
					height: 10px;
					border-radius: 10px;
					background-color: white;
					right: 0;
					top: 50%;
				}
			}
		}
	}

	#social {
		ul {
			display: grid;
			grid-template-columns: max-content max-content max-content max-content;
			grid-gap: 30px;
		}

		svg {
			height: 25px;

			path {
				fill: #222222;
			}
		}
	}

	#logo {
		.logo-icon {
			display: block;
		}
	}

	.menu {
		display: block;
	}
}

body.sidebar-opened {
	#sidebar {
		transform: none;

		nav {
			li {
				animation: slideIn .5s ease forwards;
				opacity: 0;

				&:nth-child(1) {
					animation-delay: .5s;
				}

				&:nth-child(2) {
					animation-delay: .6s;
				}

				&:nth-child(3) {
					animation-delay: .7s;
				}

				&:nth-child(4) {
					animation-delay: .8s;
				}

				&:nth-child(5) {
					animation-delay: .9s;
				}
			}
		}
	}

	#social {
		li {
			animation: slideIn .5s ease forwards;
			opacity: 0;

			&:nth-child(1) {
				animation-delay: .9s;
			}

			&:nth-child(2) {
				animation-delay: 1s;
			}

			&:nth-child(3) {
				animation-delay: 1.1s;
			}

			&:nth-child(4) {
				animation-delay: 1.2s;
			}
		}
	}

	.copyright {
		animation: slideIn .5s ease forwards;
		opacity: 0;
		animation-delay: 1.3s;
	}
}

#sidebar-space {
	width: 100%;
	height: 50px;
}

#social {
	svg {
		path {
			fill: #444444;
		}
	}
}

#navigation {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-gap: 15px;
	-webkit-box-align: center;
	align-items: center;

	&.fixed-nav {
		transform: translate(0px, -100%);
		display: none;
		opacity: 0;
		transform: all 0.5s cubic-bezier(1, 0, 0, 1) !important;
		
		@media (max-width: 800px) {
			position: fixed;
			top: 0;
			left: 0;
			padding: 30px;
			background: white;
			z-index: 1;
		}

		&.show {
			transform: none;
			display: grid;
			opacity: 1;
		}
	}

	nav {
		ul {
			display: grid;
			grid-auto-flow: column;
			grid-gap: 0px;
			-webkit-box-align: center;
			align-items: center;
		}

		a {
			padding: 15px 30px;
			transition: all 0.2s ease-in-out;

			&:hover {
				opacity: 0.6;
			}
		}

		.active {
			a {
				opacity: 0.6;
			}
		}
	}
}

#logo {
	a {
		display: grid;
		grid-template-columns: max-content max-content;
		grid-gap: 15px;
		align-items: center;
	}

	.logo-text {
		display: grid;
		grid-template-rows: auto auto;
		grid-gap: 8px;
		padding: 6px 0;
	}

	.logo-icon {
		width: 50px;
		height: 50px;
	}

	img {
		width: 100%;
		height: 100%;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
		border-radius: 100px;
	}
}

.logo-name {
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	white-space: nowrap;
	letter-spacing: -0.5px;
}

.logo-tagline {
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	white-space: nowrap;
}

.menu {
	padding: 6.25px 12.5px;
	display: none;
	z-index: 2;

	.icon-bar {
		display: block;
		width: 35px;
		height: 1px;
		-webkit-transition: all 0.5s cubic-bezier(1, 0, 0, 1) !important;
		transition: all 0.5s cubic-bezier(1, 0, 0, 1) !important;
		background: #444;
		text-align: center;
		margin: 0 auto;

		+ {
			.icon-bar {
				transform: none;
				margin-top: 7px;
			}
		}
	}
}

.menu.collapsed {
	.icon-bar {
		+ {
			.icon-bar {
				transform: none;
				margin-top: 0px;
			}
		}

		&:nth-child(1) {
			opacity: 0;
			transform: translate3d(0, 0px, 0);
		}

		&:nth-child(2) {
			transform: translate3d(0, -2px, 0) rotate(-45deg);
		}

		&:nth-child(3) {
			transform: translate3d(0, -3px, 0) rotate(-135deg);
		}
	}
}

#footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;

	#social {
		justify-self: end;

		a {
			padding: 15px;
			opacity: 0.6;

			&:hover {
				opacity: 1;
			}
		}

		svg {
			height: 20px;
		}

		img {
			height: 20px;
		}

		ul {
			display: grid;
			grid-template-columns: auto auto auto auto;
			grid-gap: 0px;
			-webkit-box-align: center;
			align-items: center;
		}
	}	
}

.copyright {
	color: #444444;
	justify-self: start;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	opacity: 0.6;
}



#space {
	width: 100%;
	height: 100px;
	background: transparent;

	@media (max-width: 1000px) {
		height: 0;
	}
}

#bestsellers {
	display: grid;
	grid-template-rows: auto auto;
	grid-gap: 30px;
	max-width: 58.333333%;

	@media (max-width: 1000px) {
		max-width: none;
		grid-gap: 50px;
	}

	.title {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;

		@media (max-width: 1000px) {
			grid-template-columns: none;
			align-items: center;
			grid-auto-flow: row;
			grid-auto-rows: max-content;
		}

		h1 {
			justify-self: start;
			font-size: 35px;
			line-height: 45px;

			// @media (max-width: 1000px) {
			// 	font-size: 25px;
			// 	line-height: 25px;
			// }
		}

		.btn-spaced {
			justify-self: end;
			
			@media (max-width: 1000px) {
				justify-self: start;
			}
		}
	}

	#books {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(230px, 30.6%));
		grid-gap: 30px;
		align-items: center;
	}
}

.book {
	width: 100% !important;
	height: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 20px 25px;
	// cursor: default;
	box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-top: 148%;
	
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 102%;
		z-index: 0;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		fill: #444444;
		transition: all .3s ease-in 0s !important;
		background: linear-gradient(0deg, rgba(0, 0, 0, 1) -3.5%, rgba(0, 0, 0, 0.5) 18.32%, rgba(0, 0, 0, 0) 34.66%);
	}
	
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding-top: 100%;
		transition: all .3s ease-in 0s !important;
		background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0) 100%);
		opacity: 0;
	}
	
	.book-details {
		z-index: 1;

		.book-name {
			display: block;
			z-index: 1;
			margin-top: 10px;
			color: white;
			font-family: 'PlayfairDisplay';
			font-weight: 700;
			font-size: 17px;
			line-height: 23px;
			text-align: left;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			opacity: 0;
			transform: translate(0px, 10px);
			// transition-duration: 0.2s !important;
			transition: all .3s ease-in 0s !important;
		}

		.book-description {
			display: block;
			z-index: 1;
			margin-top: 10px;
			color: white;
			font-weight: 500;
			font-size: 14px;
			line-height: 21px;
			text-align: left;
			height: 80px;
			overflow: hidden;
			text-overflow: ellipsis;
			opacity: 0;
			transform: translate(0px, 10px);
			// transition-duration: 0.3s !important;
			transition: all .3s ease-in 0s !important;
		}

		.btn-view {
			display: block;
			z-index: 1;
			margin-top: 10px;
			display: grid;
			margin-top: 15px;
			padding-bottom: 0;
			grid-gap: 10px;
			transition: all .3s ease-in 0s !important;

			&:hover {
				grid-gap: 15px;
			}

			span {
				color: white;
				font-size: 12px;
				line-height: 12px;
			}

			svg {
				width: 16px;

				path {
					fill: white;
				}
			}

			img {
				width: 16px;
			}
		}
	}

	&:hover {
		&:before {
			padding-top: 0;
			opacity: 1;
		}

		.book-name {
			opacity: 1;
			transform: none;
		}

		.book-description {
			opacity: 0.9;
			transform: none;
		}

		.btn-view {
			grid-gap: 15px;
		}
	}
}




#all-books {
	display: grid;
	grid-gap: 50px;
	width: 100%;

	@media (max-width: 1000px) {
		grid-gap: 50px;
	}

	.section-title {
		font-size: 45px;
		line-height: 45px;
	}

	#books {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(230px, 400px));
		grid-gap: 50px;
		align-items: center;

		.book {
			.book-name {
				font-weight: bold;
				font-size: 25px;
				line-height: 35px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}

			.book-description {
				font-size: 16px;
				line-height: 24px;
				height: 144px;
				overflow: hidden;
			}

			.btn-view {
				span {
					font-size: 14px;
					line-height: 14px;
				}

				svg {
					width: 20px;
				}

				img {
					width: 20px;
				}
			}
		}
	}
}

#book-details {
	display: grid;
	grid-template-columns: 400px 1fr;
	grid-gap: 100px;

	@media (max-width: 800px) {
		grid-template-columns: none;
		grid-auto-flow: row;
		grid-gap: 50px;
		width: 100%;
	}

	.book-image {
		width: 100%;
		height: auto;
		box-shadow: 0px 20px 36px -20px rgba(0, 0, 0, 0.4);
	}

	.details {
		display: grid;
		grid-gap: 50px;
		grid-auto-rows: max-content;

		.description {
			display: grid;
			grid-gap: 20px;
			grid-auto-rows: max-content;
			padding-bottom: 30px;
			border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
		}
		
		.channels {
			display: grid;
			grid-gap: 30px;
			grid-auto-flow: row;
			grid-auto-rows: max-content;

			.formats {
				display: grid;
				grid-gap: 50px;
				grid-auto-flow: column;
				grid-auto-rows: max-content;
				grid-template-columns: 1fr 1fr;
				max-width: 500px;
	
				.format {
					display: grid;
					grid-gap: 15px;
					grid-auto-flow: row;

					.buy-btn {
						border: 1px solid rgba(68, 68, 68, 0.1);
						padding: 15px;
						display: grid;
						max-width: 250px;
						justify-content: center;
						
						&:hover {
							background-color: rgba(68, 68, 68, 0.05);
							box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.05);
						}

						svg {
							height: 40px;
						}
					}
	
					.name {
						font-weight: 600;
						font-size: 14px;
						line-height: 25px;
						letter-spacing: 4px;
						text-transform: uppercase;
					}
	
					.price {
						font-family: 'Gilroy';
						font-weight: 700;
						font-size: 30px;
						line-height: 30px;
					}
				}

				@media (max-width: 800px) {
					grid-template-columns: none;
					grid-gap: 30px;
					grid-auto-flow: row;
				}
			}
		}
		
		.attributes {
			display: grid;
			grid-gap: 50px;
			grid-auto-flow: column;
			grid-auto-columns: max-content;
			padding-top: 30px;
			border-top: 1px dashed rgba(0, 0, 0, 0.1);
			padding-bottom: 30px;
			border-bottom: 1px dashed rgba(0, 0, 0, 0.1);

			@media (max-width: 800px) {
				grid-template-columns: none;
				grid-auto-flow: row;
				grid-gap: 30px;
			}

			.pages {
				display: grid;
				grid-gap: 15px;
				grid-auto-flow: column;
				grid-auto-columns: max-content;
				align-items: center;

				img {
					height: 35px;
				}

				p {
					font-weight: 500;

					span {
						font-weight: 500;
					}
				}
			}

			.dimensions {
				display: grid;
				grid-gap: 15px;
				grid-auto-flow: column;
				grid-auto-columns: max-content;
				align-items: center;

				img {
					height: 35px;
				}

				p {
					font-weight: 500;

					span {
						font-weight: 500;
					}
				}
			}


		}
	}
}

#other-books {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: max-content 1fr max-content;

	.prev-book {
		display: grid;
		grid-auto-flow: row;
		grid-gap: 30px;
		justify-items: start;
		padding: 30px;
		border: 1px solid rgba(68, 68, 68, 0.1);
		text-align: left;

		.btn-spaced {
			padding: 0;
		}

		&:hover {
			background-color: rgba(68, 68, 68, 0.05);
			box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.05);

			img {
				box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.2);
			}

			.btn-spaced {
				grid-gap: 20px;
			}
		}

		@media (max-width: 800px) {
			padding: 15px;
			grid-template-columns: none;
		}

		.btn-spaced {
			@media (max-width: 800px) {
				padding: 0;
				grid-template-columns: none;
			}

			span {
				@media (max-width: 800px) {
					display: none;
				}
			}
		}

		.prev-book-details {
			display: grid;
			grid-auto-flow: column;
			grid-template-columns: max-content 1fr;
			align-items: center;
			grid-gap: 30px;

			@media (max-width: 800px) {
				grid-template-columns: none;
			}

			.name {
				display: grid;
				grid-auto-flow: row;
				grid-gap: 10px;
				align-items: center;
				
				h3 {
					text-overflow: ellipsis;
					overflow: hidden;
					line-height: 30px;
					max-width: 300px;
					white-space: nowrap;
				}

				div {
					font-size: 16px;
					line-height: 24px;
					overflow: hidden;
					height: 72px;
					position: relative;
					max-width: 300px;
					font-weight: 600;
					opacity: 0.8;
				}
				
				@media (max-width: 800px) {
					display: none;
				}
			}

			img {
				width: 75px;
				border: 1px solid rgba(68, 68, 68, 0.2);
			}
		}

		
	}

	.next-book {
		display: grid;
		grid-auto-flow: row;
		grid-gap: 30px;
		justify-items: end;
		padding: 30px;
		border: 1px solid rgba(68, 68, 68, 0.1);
		text-align: right;

		.btn-spaced {
			padding: 0;
		}
		
		&:hover {
			background-color: rgba(68, 68, 68, 0.05);
			box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.05);

			img {
				box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.2);
			}

			.btn-spaced {
				grid-gap: 20px;
			}
		}

		@media (max-width: 800px) {
			padding: 15px;
			grid-template-columns: none;
		}
		
		.btn-spaced {
			@media (max-width: 800px) {
				padding: 0;
				grid-template-columns: none;
			}

			span {
				@media (max-width: 800px) {
					display: none;
				}
			}
		}
		
		.next-book-details {
			display: grid;
			grid-auto-flow: column;
			grid-template-columns: max-content 1fr ;
			align-items: center;
			grid-gap: 30px;

			@media (max-width: 800px) {
				grid-template-columns: none;
			}

			.name {
				display: grid;
				grid-auto-flow: row;
				grid-gap: 10px;
				align-items: center;

				h3 {
					text-overflow: ellipsis;
					overflow: hidden;
					line-height: 30px;
					max-width: 300px;
					white-space: nowrap;
				}

				div {
					font-size: 16px;
					line-height: 24px;
					overflow: hidden;
					height: 72px;
					position: relative;
					max-width: 300px;
					font-weight: 600;
					opacity: 0.8;
				}

				@media (max-width: 800px) {
					display: none;
				}
			}

			img {
				width: 75px;
				border: 1px solid rgba(68, 68, 68, 0.2);
			}
		}
	}
}

.modal {
	overflow: auto;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	right: 0;
	top: 0px;
	bottom: 0;
	background: rgba(68, 68, 68, 0.5);
	backdrop-filter: blur(20px);
	z-index: 3;
	padding: 50px;

	&.hide {
		display: none;
		opacity: 0;
		visibility: hidden;
	}

	.modal-body {
		background: #FFFFFF;
		max-width: 800px;
		min-height: auto;
		margin: 50px auto;
		display: grid;
		grid-gap: 0px;
		grid-auto-flow: row;

		.modal-content {
			padding: 100px;
		}

		.close {
			padding: 20px 20px;
			justify-self: end;
			background-color: transparent;
			border-color: transparent;

			&:hover {
				background-color: transparent;
				border-color: transparent;
			}

			svg, img {
				height: 10px;
			}

			svg {path {fill: #222222}}

			@media (max-width: 768px) {
				padding: 10px 15px;
			}
		}
	}

	@media (max-width: 768px) {
		padding: 30px;

		.modal-body {
			.modal-content {
				padding: 30px;
			}
		}
	}
}

#mc-embedded-subscribe-form{
	.mc-field-group {
		display: grid;
		grid-gap: 10px;
		position: relative;

		// [type="text"],
		// [type="email"] {
		// 	&::placeholder {
		// 		letter-spacing: 0;
		// 		text-transform: none;
		// 		font-size: 16px;
		// 	}
		// }

		label {
			opacity: 0.5;
			letter-spacing: 1px;
			text-transform: none;
			position: absolute;
			font-size: 12px;
			left: 20px;
			top: 0px;
			line-height: 40px;
			text-transform: uppercase;
			cursor: text;
			user-select: none;
		}
	}

	input.mce_inline_error {
		border: 1px solid rgba(127, 0, 0, 0.7);
		// color: rgba(127, 0, 0, 1);

		// &::placeholder {
		// 	// color: rgba(127, 0, 0, 0.7);
		// }
	}

	div.mce_inline_error {
		font-size: 14px;
		opacity: 0.5;
		text-align: left;
		line-height: 20px;
	}

	#mce-responses{
		.response {
			font-size: 14px;
			// opacity: 0.5;
			text-align: center;
			line-height: 20px;

			&#mce-success-response {
				color: rgb(0, 127, 0) !important;

				a {
					color: rgb(0, 127, 0) !important;
				}
			}

			&#mce-error-response {
				color: rgb(127, 0, 0) !important;

				a {
					color: rgb(127, 0, 0) !important;
				}
			}
		}
	}

	@media (max-width: 768px) {
		// label {
		// 	// font-size: 12px !important;
		// 	// line-height: 40px !important;
		// 	// left: 15px !important;
		// }

		// input {
		// 	// padding: 15px !important;
		// 	// padding-top: 30px !important;

		// 	&::placeholder {
		// 		// font-size: 16px !important;
		// 	}
		// }
	}
}

#download-book-modal {
	
	.form {
		display: grid;
		grid-gap: 50px;

		.form-use {
			display: grid;
			grid-gap: 20px;

			p {
				font-size: 16px;
				line-height: 27px;
			}
		}

		form {
			display: grid;
			grid-gap: 40px;

			.form-inputs {
				display: grid;
				grid-gap: 20px;

				.name {
					display: grid;
					grid-gap: 20px;
					grid-auto-flow: row;
				}
			}

			.form-bottom {
				display: grid;
				grid-gap: 20px;

				.button {
					display: block;
				}
			}
		}

		.disclaimer {
		    font-size: 12px;
		    line-height: 20px;
		    opacity: 0.5;
		}
	}

	@media (max-width: 768px) {
		h1 {
			font-size: 25px !important;
			line-height: 30px;
		}
	}
}





#contacts {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 50px;
	grid-template-columns: 1fr 1fr;

	@media (max-width: 800px) {
		grid-gap: 30px;
		grid-template-columns: none;
		grid-auto-flow: row;
		grid-template-rows: 1fr 1fr;
	}

	a {
		width: 100%;
		padding-top: 50%;
		padding-bottom: 50%;
		background: rgba(0, 0, 0, 0.5);
		text-align: center;

		&:hover {
			background: rgba(0, 0, 0, 0.8);
			backdrop-filter: blur(5px);
		}
	}
}





#now-playing {
	width: 100%;
	min-height: 150px;
	background: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(100px);
	border: 1px solid rgba(68, 68, 68, 0.1);
	padding: 30px;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 20px;
	grid-template-columns: max-content 1fr max-content;
	align-items: center;

	.details {
		display: grid;
		grid-auto-flow: column;
		grid-gap: 20px;
		align-items: center;

		.image {
			width: 130px;
			position: relative;
			img {
				width: 100%;
				border-radius: 5px;
				// z-index: 1;
			}

			.shadow {
				filter: blur(10px);
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
			}
		}

		.name {
			p {
				font-weight: 700;
				font-size: 14px;
				line-height: 18px;
				letter-spacing: 0.3em;
				text-transform: uppercase;
			}

			h3 {
				max-width: 200px;
				font-size: 25px;
				line-height: 33px;
			}
		}
	}
}







#devotional-title {
	max-width: 600px;
	justify-self: center;
	display: grid;
	grid-auto-flow: row;
	grid-gap: 30px;
	grid-auto-rows: max-content;
	padding: 100px 0px;
	
	.text {
		display: grid;
		grid-auto-flow: row;
		grid-gap: 10px;
		text-align: center;
		
		p {
			line-height: 30px;
		}
	}
	
	form {
		display: grid;
		grid-auto-flow: row;
		grid-gap: 15px;
		// grid-template-columns: 1fr max-content;

		.form-inputs {
			display: grid;
			grid-auto-flow: column;
			grid-gap: 15px;
			grid-template-columns: 1fr max-content;
		}
	}
	
	@media (max-width: 768px) {
		max-width: none;

		.text {
			text-align: left;
		}

		
		form {
			grid-auto-flow: row;
			grid-template-columns: none;

			.form-inputs {
				grid-auto-flow: row;
				grid-template-columns: none;
			}
		}
	}
}

#all-devotionals {
	display: grid;
	grid-gap: 30px;
	width: 100%;
	padding-bottom: 100px;

	.devotionals {
		display: grid;
		grid-auto-flow: row;
		grid-gap: 100px;
		grid-auto-rows: max-content;
		grid-template-columns: repeat(auto-fit, minmax(350px, 28.2%));

		@media (max-width: 576px) {
			grid-template-columns: repeat(auto-fit, minmax(250px, 100%)) !important;
		}
	}
}

.devotional {
	display: grid;
	grid-auto-flow: row;
	grid-gap: 30px;
	grid-auto-rows: max-content;

	.image {
		width: 100%;
		height: auto;
		position: relative;

		&:hover {
			opacity: 0.7;
		}

		img {
			width: 100%;
			border-radius: 10px;
			// z-index: 1;
		}

		.shadow {
			filter: blur(10px) opacity(0.5);
			position: absolute;
			top: 10%;
			left: 5%;
			right: 0;
			width: 90%;
			height: 90%;
			z-index: -1;
		}
	}

	.btn-spaced {
		&:hover {
			grid-gap: 20px;
		}
	}

	.details {
		display: grid;
		grid-auto-flow: row;
		grid-gap: 10px;
		grid-auto-rows: max-content;

		h3 {
			font-size: 25px;
			line-height: 33px;
			text-transform: capitalize;
		}

		.devotional-author {
			display: grid;
			grid-gap: 10px;
			grid-auto-flow: column;
			grid-auto-columns: max-content;
			// align-items: left;
			align-items: center;
			justify-content: left;

			img {
				border-radius: 100px;
				width: 25px;
				height: 25px;
			}
			
			p {
				font-size: 16px;
				font-weight: 500;
	
				span {
					opacity: 0.5;
				}
			}
		}

		.devotional-date {
			p {
				font-size: 16px;
				font-weight: 500;

				span {
					opacity: 0.5;
				}
			}
		}

		.description {
			div {
				font-size: 16px;
				line-height: 30px;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 4;
				// -webkit-box-orient: vertical;
				height: 120px;
				position: relative;

				&:before {
					content: "";
					position: absolute;
					top: 0%;
					bottom: 0;
					left: 0%;
					right: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					background: linear-gradient(180deg, rgba(255, 255, 255, 0) 67.5%, #FFFFFF 100%);
				}
			}
		}
	}
}








#devotional-header {
	width: 100%;
	width: 100%;
	max-width: 1100px;
	justify-self: center;
	height: auto;
	position: relative;

	img {
		width: 100%;
		border-radius: 10px;
		// z-index: 1;
	}

	.shadow {
		filter: blur(10px) opacity(0.5);
		position: absolute;
		top: 10%;
		left: 5%;
		right: 0;
		width: 90%;
		height: 90%;
		z-index: -1;
	}
}

#devotional-details {
	text-align: center;
	justify-self: center;
	display: grid;
	grid-gap: 10px;
	grid-auto-flow: row;
	grid-auto-rows: max-content;
		
	.devotional-author {
		display: grid;
		grid-gap: 10px;
		grid-auto-flow: column;
		grid-auto-columns: max-content;
		align-items: center;
		justify-content: center;
		
		img {
			border-radius: 100px;
			width: 25px;
			height: 25px;
		}
	}

	p {
		font-size: 16px;
		font-weight: 500;

		span {
			opacity: 0.5;
		}
	}

	@media (max-width: 576px) {
		text-align: left;
		justify-self: left;

		.devotional-author {
			align-items: left;
			justify-content: left;
		}
	}
}

#devotional-post {
	display: grid;
	grid-gap: 30px;
	width: 100%;
	max-width: 900px;
	justify-self: center;
	padding: 0px 0 100px 0;

	div {
		p {
			font-family: "PalatinoLinotype";
			text-align: justify;
		}
	}

	h3 {
		text-align: center;

		@media (max-width: 576px) {
			text-align: left;
		}
	}
}

#other-devotionals {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: max-content 1fr max-content;

	.prev-devotional {
		display: grid;
		grid-auto-flow: row;
		grid-gap: 15px;
		justify-items: start;
		padding: 30px;
		border: 1px solid rgba(68, 68, 68, 0.1);

		&:hover {
			background-color: rgba(68, 68, 68, 0.05);
			box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.05);

			img {
				box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.2);
			}

			.btn-spaced {
				grid-gap: 20px;
			}
		}

		@media (max-width: 1000px) {
			padding: 15px;
			grid-template-columns: none;
		}

		.btn-spaced {
			@media (max-width: 1000px) {
				padding: 0;
				grid-template-columns: none;
			}

			span {
				@media (max-width: 1000px) {
					display: none;
				}
			}
		}

		.prev-devotional-details {
			display: grid;
			grid-auto-flow: column;
			grid-template-columns: max-content 1fr;
			align-items: center;
			grid-gap: 30px;

			@media (max-width: 1000px) {
				grid-template-columns: none;
			}

			.name {
				display: grid;
				grid-auto-flow: row;
				grid-gap: 5px;
				text-align: left;
				
				h3 {
					text-overflow: ellipsis;
					overflow: hidden;
					line-height: 30px;
					max-width: 300px;
					white-space: nowrap;
	
					@media (max-width: 1000px) {
						display: none;
					}
				}
	
				p {
					font-size: 14px;
					font-weight: 500;
	
					span {
						opacity: 0.5;
					}
				}
	
				@media (max-width: 1000px) {
					display: none;
				}
			}

			img {
				width: 100px;
				border: 1px solid rgba(68, 68, 68, 0.2);
				border-radius: 5px;
			}
		}


	}

	.next-devotional {
		display: grid;
		grid-auto-flow: row;
		grid-gap: 15px;
		justify-items: end;
		padding: 30px;
		border: 1px solid rgba(68, 68, 68, 0.1);

		&:hover {
			background-color: rgba(68, 68, 68, 0.05);
			box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.05);

			img {
				box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.2);
			}

			.btn-spaced {
				grid-gap: 20px;
			}
		}

		@media (max-width: 1000px) {
			padding: 15px;
			grid-template-columns: none;
		}

		.btn-spaced {
			@media (max-width: 1000px) {
				padding: 0;
				grid-template-columns: none;
			}

			span {
				@media (max-width: 1000px) {
					display: none;
				}
			}
		}

		.next-devotional-details {
			display: grid;
			grid-auto-flow: column;
			grid-template-columns: max-content 1fr;
			align-items: center;
			grid-gap: 30px;

			@media (max-width: 1000px) {
				grid-template-columns: none;
			}

			.name {
				display: grid;
				grid-auto-flow: row;
				grid-gap: 5px;
				text-align: right;

				h3 {
					text-overflow: ellipsis;
					overflow: hidden;
					line-height: 30px;
					max-width: 300px;
					white-space: nowrap;

					@media (max-width: 1000px) {
						display: none;
					}
				}

				p {
					font-size: 14px;
					font-weight: 500;

					span {
						opacity: 0.5;
					}
				}

				@media (max-width: 1000px) {
					display: none;
				}
			}

			img {
				width: 100px;
				border: 1px solid rgba(68, 68, 68, 0.2);
				border-radius: 5px;
			}
		}


	}
}

#devotional-subscription {
	padding: 100px 150px;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	grid-gap: 100px;
	border: 1px solid rgba(68, 68, 68, 0.2);

	.text {
		display: grid;
		grid-auto-flow: row;
		grid-gap: 10px;
	}

	form {
		display: grid;
		grid-auto-flow: row;
		grid-gap: 15px;

		.form-inputs {
			display: grid;
			grid-auto-flow: row;
			grid-gap: 15px;
			// grid-template-columns: 1fr max-content;
		}
	}

	@media (max-width: 1000px) {
		padding: 30px 0px;
		grid-auto-flow: row;
		grid-template-columns: none;
		align-items: center;
		grid-gap: 30px;
		border: none;
	}
}











#donation-title {
	max-width: 800px;
	justify-self: center;
	display: grid;
	grid-auto-flow: row;
	grid-gap: 30px;
	grid-auto-rows: max-content;
	padding: 50px 0px;

	.text {
		display: grid;
		grid-auto-flow: row;
		grid-gap: 10px;
		text-align: center;

		p {
			line-height: 30px;
		}
	}

	@media (max-width: 576px) {
		max-width: none;
		justify-self: start;

		.text {
			text-align: left;
		}
	}
}

#donation-offline {
	max-width: 800px;
	justify-self: center;
	display: grid;
	grid-auto-flow: row;
	grid-gap: 30px;

	h2 {
		text-align: center;
	}

	.methods {
		display: grid;
		grid-auto-flow: column;
		grid-gap: 50px;

		.method {
			display: grid;
			grid-auto-flow: row;
			grid-gap: 30px;

			img, svg {
				height: 38.5px;
				width: auto;
			}
		}
	}

	@media (max-width: 576px) {
		h2 {
			text-align: left;
		}

		.methods {
			grid-auto-flow: row;

			.method {
				img,
				svg {
					height: auto;
					max-width: 100%;
				}
			}
		}
	}
}

#donation-online {
	max-width: 800px;
	width: 100%;
	justify-self: center;
	display: grid;
	grid-auto-flow: row;
	grid-gap: 30px;

	h2 {
		text-align: center;
	}

	.methods {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 50px;

		.method {
			justify-items: center;
			text-align: center;
			display: grid;
			grid-auto-flow: row;
			grid-gap: 20px;
			padding: 20px 40px;
			background-color: #FFFFFF;
			border: 1px solid rgba(34, 34, 34, 0.2);

			p {
				font-size: 12px;
				line-height: 15px;
				letter-spacing: 0.3em;
				text-transform: uppercase;
				font-weight: 600;
			}

			img,
			svg {
				height: 40px;
				width: auto;
			}

			&:hover {
				background-color: rgba(34, 34, 34, 0.05);
				box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.05);
			}
		}
	}

	@media (max-width: 576px) {
		h2 {
			text-align: left;
		}

		.methods {
			grid-auto-flow: row;
			grid-template-columns: none;
			grid-gap: 30px;

			.method {

				img,
				svg {
					height: auto;
					max-width: 100%;
				}
			}
		}
	}
}

#donation-endnote {
	margin-top: 25px;
	padding-top: 50px;
	max-width: 800px;
	width: 100%;
	justify-self: center;
	text-align: center;
	border-top: 1px solid rgba(34, 34, 34, 0.2);
}


@media (max-width: 1000px) {
	h2 {
		font-size: 30px;
	}
	
	h3 {
		font-size: 25px;
	}

	.logo-tagline {
		font-size: 11px !important;
		line-height: 11px !important;
		letter-spacing: 0.2em !important;
	}
	
	.logo-name {
		font-size: 19px !important;
		line-height: 19px !important;
	}
	
	#logo {
		.logo-icon {
			width: 45px !important;
			height: 45px !important;
		}
	}

	.menu {
		display: block !important;
	}
	
	#navigation {
		nav {
			display: none !important;
		}

		grid-template-columns: 1fr auto !important;

		.nav-space {
			display: none;
		}
	}
	
	body.dark {
		#logo {
			a {
				grid-template-columns: auto !important;
			}
		}
	}
	
	#footer {
		#social {
			display: none;
		}

		grid-template-columns: 1fr !important;
	}
}

@media (max-width: 768px) {
	.container {
		width: 100%;
		padding-right: 30px;
		padding-left: 30px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media (max-width: 576px) {
	#bestsellers {
		#books {
			grid-template-columns: repeat(auto-fit, minmax(250px, 100%)) !important;
		}
	}

	#all-books {
		#books {
			grid-template-columns: repeat(auto-fit, minmax(100%, 100%)) !important;
			grid-gap: 30px !important;
		}
	}

	body.dark {
		background-image: url('../images/madueke/Prayer-M.-Madueke-sm.jpg') !important;
		background-position: center top !important;
	}

	h1 {
		font-size: 35px;
	}

	h4 {
		font-size: 20px;
	}

	h5 {
		font-size: 15px;
	}

	h6 {
		font-size: 10px;
	}

	p {
		font-size: 18px;
	}
}